<!doctype html>
<html>

<head>
    <title>Stepped Line Chart</title>

    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>

    <script src="https://use.typekit.net/kfx1lmb.js"></script>
    <script>try {Typekit.load({ async: true })} catch (e) {}</script>

    <script type="text/javascript" src="../static/js/myscript.js"></script>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
</head>

<body onload="load();">

<div class="content-wrapper">
    <div class="hero-container">
        <h1 class="hero-title">Size Report</h1>
        <h2 class="hero-subtitle">A tool to log, compare, display code size change history</h2>
        <div class="hero-button-wrapper">
            <a class="button button__red"
               href="https://docs.google.com/document/d/19Mi1X2a9Y5EeAMDLKsj6GJjE6aEj3QV7wKpgPD1ygd4/" target="_blank">Design
                Doc</a>
            <a class="button button__black" href="https://github.com/brianljt/size-report" target="_blank">GitHub</a>
        </div>
    </div>

    <hr>

    <script>$('.selectpicker').selectpicker('refresh')</script>
    <div class="select-container" style="text-align: center">
        Showing size of
        <select class="selectpicker" id="commit_num" onchange="CommitNumChange(this)">
            <!--        <select class="selectpicker" id="commit_num">-->
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        commits
    </div>

    <div class="chart-container">
        <canvas id="sizeChart"></canvas>
        <!--        <button id="addData">Add Data</button>-->
    </div>

</div>

<script>

  var commitnum = 10
  var commitid = []
  var show_text = []
  var show_data = []
  var show_bss = []
  var show_total = []

  var ctx = document.getElementById('sizeChart')
  var sizeChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: commitid,
      datasets: [
        {
          label: 'text',
          color: 'rgb(239,207,255)',
          borderColor: 'rgb(239,207,255)',
          fill: false,
          data: show_text,
          steppedLine: true,
        },
        {
          label: 'data',
          color: 'rgb(255,197,115)',
          borderColor: 'rgb(255,197,115)',
          fill: false,
          data: show_data,
          steppedLine: true,
        },
        {
          label: 'bss',
          color: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          fill: false,
          data: show_bss,
          steppedLine: true,
        },
        {
          label: 'total',
          color: 'rgb(151,187,205)',
          borderColor: 'rgb(151,187,205)',
          fill: false,
          data: show_total,
          steppedLine: true,
        }
      ]
    },
    options: {
      responsive: true,
      legend: {
        position: 'bottom'
      },
      scales: {
        xAxes: [{ display: false }],
      },
      tooltips: {
        mode: 'index',
        intersect: false,
      },
    },
  })

  async function load () {
    let datalist = await GetDataListBySummaryList()
    sizeChart.data.labels = datalist[0]
    sizeChart.data.datasets[0].data = datalist[1]
    sizeChart.data.datasets[1].data = datalist[2]
    sizeChart.data.datasets[2].data = datalist[3]
    sizeChart.data.datasets[3].data = datalist[4]
    window.sizeChart.update()
  }

  async function CommitNumChange (obj) {
    commitnum = $('#commit_num').val()
    let datalist = await GetDataListBySummaryList('', commitnum)
    sizeChart.data.labels = datalist[0]
    sizeChart.data.datasets[0].data = datalist[1]
    sizeChart.data.datasets[1].data = datalist[2]
    sizeChart.data.datasets[2].data = datalist[3]
    sizeChart.data.datasets[3].data = datalist[4]
    window.sizeChart.update()
  }

  // document.getElementById('addData').addEventListener('click', function () {
  //   if (sizeChart.data.datasets.length > 0) {
  //     sizeChart.data.labels.push(sizeChart.data.labels.length)
  //     for (var index = 0; index < sizeChart.data.datasets.length; ++index) {
  //       if (typeof sizeChart.data.datasets[index].data[0] === 'object') {
  //         sizeChart.data.datasets[index].data.push({
  //           x: sizeChart.data.datasets[index].data.length,
  //           y: 100 * Math.random(),
  //         })
  //       } else {
  //         sizeChart.data.datasets[index].data.push(100 * Math.random())
  //       }
  //     }
  //
  //     window.sizeChart.update()
  //   }
  // })

</script>
</body>

</html>
